<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

  <main>
    <% @products.each do |product| %>
      <section>
        <section><%= product.title %></section>
        <section><%= product.description %></section>
        <section><%= product.image_url %></section>
        <section><%= product.price %></section>
        <section><%= link_to 'Show', product %></section>
        <section><%= link_to 'Edit', edit_product_path(product) %></section>
        <section><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></section>
      </section>
    <% end %>
  </main>

<br>

<%= link_to 'New Product', new_product_path %>
